*{
  margin: 0;
  box-sizing: border-box;
}

.leftPart{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  border: 1px solid rgba(184, 182, 182, 0.863);
  border-top: 0;
  box-shadow: rgba(184, 182, 182, 0.863) 0 0 3px -2px;
}

.leftPart2{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.settingList{
  background-color: rgb(199, 198, 198);
  border: 1px solid black;
  position: absolute;
  right: 15px;
  top: 75px;
  padding-left: 20px;
}


.buttonSpan{
  border: 1px solid rgba(184, 182, 182, 0.863);
  border-left: none;
  width: 100%;
  display: flex;
  align-self: center;
  box-shadow: rgba(156, 156, 156, 0.644) 0 0 5px 1px;
  height: 73px;
  box-sizing: border-box;
}

.closeSetting{
  font-weight: bold;
  background-color: rgb(184, 109, 91);
}

.closeSpan{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.closeSpan{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.buttonSpan2{
  border-right: none;
  border-left: 1px solid rgba(184, 182, 182, 0.863);
  width: 100%;
  height: 73px;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
}

.button2{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  height: 10%;
  width: 100%;
}

.rightPart2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: red;
  width: 100%;
  height: 100%;
}

.profileName{
  display: flex;
  flex-direction: row;
  align-self: center;
  margin: 10px;
  font-size: 26px;
}

.userName{
  position: relative;
  /* margin-top: 10px; */
  font-size: 20px;
  overflow-y: scroll;
  height: 100%;
}

.typingPara{
  color: rgb(24, 192, 24);
  font-size: 14px;
  margin-bottom: 0;
}

.userName2{
  /* height: 35%;
  margin-top: 10px; */
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: center; */
  margin-bottom: 0;
}

.userListDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgba(184, 182, 182, 0.863);
  cursor: pointer;
}

.input1{
  border: 1px solid rgba(184, 182, 182, 0.863);
  box-shadow: rgba(184, 182, 182, 0.863) 0 0 10px 1px;
  /* box-shadow: gray 10px 2px 15px 2px; */
  /* padding: 20px 300px; */
  font-size: 20px;
  height: 53px;
  width: 80%;
  padding: 10px;
}
.timeNow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-self: center; */
}
.resultPara{

  /* padding: 20px; */
  font-size: 16px;
  /* min-height: 50px; */
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.back{
  background-color: orange;
  padding: 5px 10px;
  margin: 15px;
  display: none;
}

.time{
  margin: 0 10px;
  /* min-width: 30%; */
  max-width: 55%;
  /* width: 30%; */
  word-wrap: initial;
  overflow-wrap: anywhere;
  margin-left: auto;
}

.time2{
  margin-left: 10px;
}


.time3{
  margin-top: 10px;
  padding: 6px;
  background-color: wheat;
}

.time4{
  background-color: lightgreen;
  padding: 6px;
}

.span{
  display: flex;
flex-direction: row;
width: 100px;
position: relative;
}

.h1{
  padding: 3vh 0;
}

.App {
  text-align: center;
  height: 95vh;
}

.buttons{
  height: 53px;
  width: 20%;
  border: 2px solid gray;
  background-color: yellowgreen;
  color: white;
  font-size: 20px;
  box-shadow: rgba(184, 182, 182, 0.863) 0 0 10px 5px;
  cursor: pointer;
}

.form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* justify-content: space-around; */
}

.search{
  padding: 5px;
  /* background-color: gray; */
}

h3{
  align-self: center;
  font-size: 32px;
}

.input{
  text-align: center;
  align-self: center;
  height: 7vh;
  font-size: 25px;
  margin: 0 3vw;
}

.h1{
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 0;
  color: brown;
}

.button{
margin: 15px 10px;
display: flex;
margin-left: auto;
justify-items: flex-end;
align-self: flex-end;
padding: 5px;
font-weight: bold;
font-size: 18px;
color: brown;
background-color: orange;
text-align: center;
box-shadow: rgba(184, 182, 182, 0.863) 0 0 10px 2px;
cursor: pointer;
}

.profilePic{
  border-radius: 100%;
  border: 2px solid wheat;
  margin: 2px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-self: center;
}

.userPara{
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-left: 3px;
  height: 60px;
}

.userPara2{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userPara3{
  color: darkcyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.searchingInput{
  outline: none;
  border-radius: 30px;
  margin: 15px 5%;
  width: 90%;
  height: 60px;
  font-size: 14px;

}

.checkbox{
  margin-right: 10px;
}

.submit{
  align-self: center;
  padding: 2px 10px;
  height: 8vh;
}

input{
  text-align: center;
}

.edit{
  padding: 2px 8px;
}
.paraDiv {
  width: 100%;
  height: calc( 100% - 73px );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mainDiv{
  background-color: rgba(243, 240, 240, 0.897);
}

.paraDiv2{
  overflow-y: scroll;
  height: 100%;
  margin: 5px 0;
  font-size: 14px;
}

.inputDiv {
  width: 100%;
  padding-left: 3px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.text{
  margin: auto;
  width: 85vw;
  margin-bottom: 0;
  color: darkblue;
  font-size: 20px;
  padding-bottom: 1vh;
}

.rightPart{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  border-left: 1px solid rgba(184, 182, 182, 0.863);
}

.setting{
  width: 50px;
  height: 48px;
}
.settingSpan{
  width: 65px;
  height: 73px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.labelPara{
  display: flex;
  flex-direction: column;
  width: 500px;
}

.changeUserSpan{
  margin-top: 10px;
  display: flex;
  
}

.fileSpan{
  width: 54px;
  background-image: url("./add.png");
  background-size: 50px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-content: flex-end;
  margin-left: 1px;
}

.fileSpan2{
  width: 53px;
  background-size: 48px;
  margin-left: 2px;
  background-image: url("./add2.png");
}

.sendingPic{
  width: 300px;
  height: 300px;
}

.fileInput{
  opacity: 0;
  height: 52px;
}

.changeUser{
  font-size: 20px;
  font-weight: bold;
  width: 30%;
}

.changeInputUser{
  width: 60%;
}

.input2{
  width: 50%;
}

.pic2{
  width: 50%;
  height: 50%;
  margin-top: 2px;
}

.pic3{
  width: 100px;
  height: 80%;
  margin-right: 10px;
}

.visible{
  width: 100%;
}

.hidden{
  display: none;
}

.borderBox{
  width: 5px;
}

.bgGray{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-color: gray;
  height: 100%;
}

.miniImage{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(243, 240, 240, 0.897);
  /* border: 1px solid white; */
  box-shadow: wheat 1px 1px 10px 1px;
  border-left: 0;
  border-right: 0;
  width: 100%;
  height: 20%;
  margin-top: 13px;
  margin-bottom: 13px;
  padding: 0 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  .mainDiv{
    width: 100vw;
    box-sizing: border-box;
  }
  .leftPart{
    transform: scaleX(1);
    transition: 0.5s ease;
    transform-origin: left;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .rightPart{
    transform: scaleX(0);
    transition: 0.5s ease;
    transform-origin: right;
  }
  .rightPart3{
    position: absolute;
    width: 100%;
    display: flex;
    transform: scaleX(1);
    transition: 0.5s ease;
    transform-origin: right;
  }
  .leftPart3{
    transform: scaleX(0);
    transition: 0.5s ease;
    transform-origin: left;
  }
  .back{
    padding: 2px;
    margin: 2px;
    margin-left: 8px;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: flex-start;
  }
  .profilePic{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 50px;
    height: 50px;
  }
  .button{
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
  }
  .profileName{
    color: black;
    margin: 5px;
    font-size: 20px;
  }
  .buttonSpan{
    width: 100%;
    height: 60px;
  }
  .timeNow{
    font-size: 12px;
    padding: 0;
  }
  .resultPara{
    font-size: 14px;
    padding: 5px;
  }
  
  .input1{
    padding: 0;
    margin: 0;
    font-size: 14px;
    height: 30px;
  }
  .buttons{
    margin: 0;
    padding: 0;
    font-size: 14px;
    height: 30px;
  }

  .setting{
    width: 45px;
    height: 45px;
  }
  .settingSpan{
    width: 60px;
    height: 60px;
  }
  .paraDiv{
    width: 100% ;
    height: calc( 100% - 60px );
  }
}

@media only screen and (max-width: 350px) {
    .buttonSpan{
        height: 50px;
    }
    
    .paraDiv{
      height: calc( 100% - 50px );
    }

    .back{
      margin-left: 3px;
      font-size: 13px;
    }
    
    .profilePic{
      margin-left: 3px;
      height: 45px;
      width: 45px;
      margin: 1px;
    }
    
    .userPara{
      height: 50px;
      margin-left: 0;
    }
    
    .profileName{
      margin: 2px;
    }
    
    .button{
      font-size: 13px;
      margin: 3px;
      margin-left: auto;
    }
    
    .settingSpan{
      margin-left: 2px;
      width: 40px;
      height: 50px;
    }
    
    .setting{
      width: 35px;
      height: 35px;
    }
}